/* Forum */

/* ForumCard */
.forumcard {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  grid-gap: 1.25rem;
  border: 1px solid red;
  padding: 1.25rem;
}

.logo,
.postcount {
  display: flex;
  justify-content: center;
  align-items: start;
}

.title,
.lastpost {
  display: flex;
  flex-direction: column;
}

.postcount {
  margin-left: auto;
}

.title {
  gap: 0.5rem;
}

.lastpost {
  gap: 0.25rem;
}
